/* Centrado de login */
.login {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-color: #f4f4f4;
  }
  .title {
    justify-content: center;
    justify-content: center;
    align-items: center;
    padding-left: 40%;
 
    
  }
  
  form {
    background-color: white;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    width: 100%;
    max-width: 400px; /* Máximo ancho del formulario */
  }
  
  h2 {
    margin-bottom: 20px;
  }
  
  input,
  button {
    display: block;
    margin: 10px auto;
    padding: 10px;
    width: 100%; /* Que ocupe el 100% del contenedor */
    border-radius: 4px;
    border: 1px solid #ccc;
    box-sizing: border-box;
  }
  
  button:disabled {
    background-color: #ccc;
    cursor: not-allowed;
  }
  
  .input-error {
    border-color: red;
  }
  
  .error {
    color: red;
    font-size: 0.9rem;
  }
  
  router-link {
    display: block;
    margin-top: 10px;
    text-align: center;
  }
  
  /* Estilos responsive */
  @media (max-width: 600px) {
    .login {
      padding: 10px; /* Reduce padding en pantallas pequeñas */
    }
  
    form {
      padding: 15px;
      width: 90%; /* Para que el formulario sea más pequeño en pantallas muy pequeñas */
    }
  
    input,
    button {
      padding: 12px;
    }
  }
  